{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            </br>
            <h1 class="text-center">Posts</h1>
            </br>
            {% for post in posts %}
            <div class="card text-center">
                <card-body>
                    <div class="post">
                        <div class="date">
                            <p>published: {{ post.published_date }}</p>
                        </div>
                        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
                    </div>
                </card-body>
            </div>
            </br>   
            {% endfor %}
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}